/* police titre */
@font-face {
    font-family: 'anironcregular';
    src: url('FontAniron/anicm___-webfont.woff2') format('woff2'),
         url('FontAniron/anicm___-webfont.woff') format('woff'),
         url('FontAniron/anicm___.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/*police Text*/
@font-face {
    font-family: 'party_businessregular';
    src: url('FontPartyBusiness/partybusiness-webfont.woff2') format('woff2'),
         url('FontPartyBusiness/partybusiness-webfont.woff') format('woff'),
         url('FontPartyBusiness/partybusiness-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/*police a cote du titre*/
@font-face {
    font-family: 'tengwar_annatarregular';
    src: url('FontTengWarAnnatar/tngan-webfont.woff2') format('woff2'),
         url('FontTengWarAnnatar/tngan-webfont.woff') format('woff'),
         url('FontTengWarAnnatar/tngan.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("bg_light.png");
 }
header {
    height: 50px;
}
 .carousel-caption{
    padding-bottom: 560px;
 }
 .carousel-caption h3{
     font-size: 45px;
 }
 .carousel-caption p{
    font-size: 40px;
}
h2, h3, h4, .navbar a{
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
}
.fontTengWarAnnatar{
    font-family: 'tengwar_annatarregular', Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 35px;
    margin:auto;
}
#Fellows h2{
    padding-left:90px;
}
.nav-item{
    margin-right:40px;
    font-size: 20px;
}
#Fellows a{
    color:gray;
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
}
.paddingR{
    padding-left:60px;
    padding-right: 50px;
    justify-content: center;
}
.fontPartyBusiness{
    font-family:  'party_businessregular', Arial, Helvetica, sans-serif;
    color: white;
}
#Getmyreward{
 background-image: url("bg_dark.png");
}
/* pill */
#Fellows a:hover{
    color:orange;
    text-decoration: underline;
}
.linethrough{
    text-decoration: line-through;
    color:orange;
}
/* card */
#Fellows{
   margin-top: 15px;
}
.card-img-top{
    border:5px black solid;
}
.sectionphoto h3{
    font-size: 20px;
    text-align: center;
}
.sectionphoto h4{
    font-size: 32px;
}
.sectionphoto h3, .sectionphoto h4{
color: white;
}
.card-body0{
    font-family:  'party_businessregular', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 22px;
}
.money{
    color:orange;
    font-weight: bold;
    font-size: 35px;
}
.sectionphoto h4{
    width:200px;
    margin-left:40px;
    margin-top:150px;
}
.sectionphoto:hover .card-img-top{
    opacity: 0.5;
}
.sectionphoto:hover h3{
    display: none;
}
/* media Object */
#Getmyreward h2, #Getmyreward p{
    color:white;
    margin-top:20px;
    margin-left:20px;
}
#Getmyreward p{
    font-size: 25px;
}
.hunters h4{
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: orange;
}
.hunters p{
    font-family:  'party_businessregular', Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.btn{
    float:inline-end;
}

.media .btn img{
    height:20px;
    width:20px;
}
/*button Contact Us*/
#Getmyreward a{
    font-size: 30px;
    font-weight: bold;
    background-color:white;
    color:orange;
    float:right;
    height:55px;
    margin-right: 400px;
    margin-bottom: 50px;
}
/* card About the Ring */
#Thering{
    background-color: black;
}
.fontWhite{
    color:white;
}
.fontAnironcregular{
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
    background-color: #f48341;
    color:white;
}
.card-body2{
    height: 270px;
    display: flex;   
}
.margin-bottom{
    margin-bottom: 40px;
}
.card-body2 .text{
    font-family:  'party_businessregular', Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.reward p{
    text-align:justify;
    display: inline-block;
    vertical-align: top;
    width: 350px;
}
table td, table th{
    width: 380px;
    font-size: 25px;
}
table tr{
    border:2px black solid;
}
table caption{
    caption-side: top;
    font-size: 25px;
}
.card {
    margin-top:15px;
}
.card-body, .card-body2{
    background-color:silver;
}
th{
    background-color: gray;
}
td{
    background-color:rgb(247, 240, 240);
    color:black; 
}
.textArmy{
    margin-left: 20px;
    font-family:  'party_businessregular', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.textArmy .btn{
    margin-left: 80px;
}
.textArmy{
    width: 800px;
}
.media-body h4{
    color:orange;
}
.media .btn{
    background-color: black;
    color: orange;
    font-size: 30px;
    height: 60px;
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
    float:inline-start;
    }
/* formulaire */
#Contactus{
    background-color: black;
}
#Contactus h2{
    color:white;
}
input,select,textarea{
    font-family: 'party_businessregular', Arial, Helvetica, sans-serif;
    font-size: 36px;
}
textarea{
    height:200px;
}
.Weneedyou img,.joinModor img{
    height: 260px;
    margin-right: 60px;
}
select{
  width:1000px;
}
.sectionFormulaire img{
    height: 380px;
}
/* footer */
#footer ul{
    list-style: none;
    vertical-align: top;
    margin-left:50px;
}
#footer ul li{
    font-family: 'anironcregular', Arial, Helvetica, sans-serif;
    color:white;
}
#footer{
    background-color:#f48341;
}

.reward figure{
    margin-left: 40px;
}
.hunters{
    margin-bottom:15px;
}
